# Import des modules

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Le modules datasets contient les données buil-in de sklearn

In [4]:
from sklearn import datasets

# Chargement des données en les assignant à la variable iris

In [5]:
iris = datasets.load_iris()

# Les données sont stockées sous forme de dictionnaire

In [6]:
type(iris)

sklearn.utils.Bunch

La clé data représente les données, target correspond à la variable cibre: Variable dépendant, 'target_names' correspond le nom de la variable cible, 'features_names' correspond les noms des variables indépendant

In [7]:
iris.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [9]:
X = iris['data']

In [10]:
y = iris['target']

# Les variables X et y sont des numpy array (tableaux à deux dimensions)

In [16]:
type(X), type(y)

(numpy.ndarray, numpy.ndarray)

In [13]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

# Conversion des données en  dataFrames

In [14]:
df1 = pd.DataFrame(X, columns = iris.feature_names)

In [15]:
df1.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [22]:
target = pd.DataFrame(y, columns = {'target'})

In [23]:
type(target)

pandas.core.frame.DataFrame

# L'entête du dataFrame target

In [24]:
target.head()

   target
0       0
1       0
2       0
3       0
4       0

# Dans cette partie nous voulons faire du machine learning

## Définition

#### Le machine est un art et une science  donnant la capacité  à un ordinateur de prendre des décisions sans étre explicitement programmé. Par exemple un ordinateur peut prédire si un email est spam ou non ou bien de faire du clustering.

Si les données sont contiennent une variable cible (target) on est dans le cas de supervised learning  sinon on est dans le cas de Unsupervised Learning

# Supervised Learning

dans le cas de l'apprentissage supervisé, la machine s’appuie sur des classes prédéterminées et sur un certain nombre de paradigmes connus pour mettre en place un système de classement à partir de modèles déjà étiquetés. Dans ce cas, deux étapes sont nécessaires pour compléter le processus, à commencer par le stade d’apprentissage qui consiste à la modélisation des données cataloguées. Ensuite, il s’agira au second stade de se baser sur les données ainsi définies pour attribuer des classes aux nouveaux modèles introduits dans le système, afin de les cataloguer eux aussi.Dans le cas de l'apprentissage supervisé, la variable cible peut étre de deux catégories: discrete ou continue. Si la variable est discrete on parle de classification sinon on parle de régression

# Unsupervised Learning

Dans le cas de l'apprentissage non supervisé ou clustering, il n’est pas question de s’appuyer sur des éléments prédéfinis, et la tâche revient à la machine de procéder toute seule à la catégorisation des données. Pour ce faire, le système va croiser les informations qui lui sont soumises, de manière à pouvoir rassembler dans une même classe les éléments présentant certaines similitudes. Ainsi, en fonction du but recherché, il reviendra à l’opérateur ou au chercheur de les analyser afin d’en déduire les différentes hypothèses.

#### Dans ce tuto, nous allons traiter la cas da l'apprentissage supervisé

In [25]:
from sklearn.neighbors import KNeighborsClassifier

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 21, test_size = 0.3, stratify = y)

In [26]:
knn = KNeighborsClassifier(n_neighbors = 6)

In [29]:
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=6, p=2,
           weights='uniform')

In [30]:
y_pred = knn.predict(X_test)

In [31]:
y_pred

array([2, 1, 2, 2, 1, 0, 1, 0, 0, 1, 0, 2, 0, 2, 2, 0, 0, 0, 1, 0, 2, 2,
       2, 0, 1, 1, 1, 0, 0, 1, 2, 2, 0, 0, 1, 2, 2, 1, 1, 2, 1, 1, 0, 2,
       1])

In [ ]:
Détermination de la

In [33]:
knn.score(X_test, y_test)

0.9555555555555556